{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<body>
{% render_bundle 'base' %}
<div id="HearInsights" >
{% block hearinsights %}{% endblock %}
</div>
</body>
</html>