/* grid system via getbootstrap.com/examples/grid/grid.css */

/*
 * Base structure
 */



.container {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-bottom: 5px;
}
.row .row {
  margin-top: 5px;
  margin-bottom: 0px;
}
[class*="col-"] {
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}




/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/*
 * Main content
 */

.jumbotron{
    padding-left: 40px;
    padding-right: 40px;

}






body {
    padding-top: 50px;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;

    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}


/*  --------------------------------------------------
  :: Table Filter
  -------------------------------------------------- */
.panel {
  border: 1px solid #ddd;
  background-color: #fcfcfc;
}
.panel .btn-group {
  margin: 15px 0 30px;
}
.panel .btn-group .btn {
  transition: background-color .3s ease;
}
.table-filter {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}
.table-filter tbody tr td {
  padding: 10px;
  vertical-align: middle;
  border-top-color: #eee;
}
.table-filter tbody tr.selected td {
  background-color: #eee;
}
.table-filter tr td:first-child {
  width: 5%;
  max-width: 5px;
}
.table-filter tr td:nth-child(2) {
  width: 35px;
}

.table-filter .star {
  color: #ccc;
  text-align: center;
}
.table-filter .star.star-checked {
  color: #F0AD4E;
}
.table-filter .star:hover {
  color: #ccc;
}
.table-filter .star.star-checked:hover {
  color: #F0AD4E;
}
.table-filter .media-photo {
  width: 35px;
}
.table-filter .media-body {

    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
  font-size: 11px;
  color: #999;
}
.table-filter .media .title {
  color: #2BBCDE;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}
.table-filter .media .title span {
  font-size: .8em;
  margin-right: 20px;
}
.table-filter .media .title span.pagado {
  color: #5cb85c;
}
.table-filter .media .title span.pendiente {
  color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
  color: #d9534f;
}
.table-filter .media .summary {
  font-size: 14px;
}

table td tr{
    table-layout: fixed;
}








.keyword-container {
      display: flex;
      overflow: hidden;
      height: 30vh;
      margin-top: -100px;
      padding-top: 100px;
      position: relative;
      width: 100%;
      backface-visibility: hidden;
      will-change: overflow;
  }
/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
.keyword-topics,
.keyword-lists {
      overflow: auto;
      height: auto;
      padding: .5rem;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
  }
/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
.keyword-topics::-webkit-scrollbar,
.keyword-lists::-webkit-scrollbar {
      display: none;
  }
/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
  .keyword-topics {
  width: 40%;
  }
.keyword-topics ul{
  padding-left: 0px;
  }
.keyword-topics li{
  width: 100%;
  }
.keyword-lists {
  width: 100%;
  }
/* Keyword panel */
.keyword-lists ul {
    width: 50em;  /* room for 3 columns */
  }
.keyword-lists ul li {
    float: left;
    width: 10em;  /* accommodate the widest item */
  }
/* stop the floating after the list */
.keyword-lists br {
    clear: left;
  }
/* separate the list from what follows it */
.keyword-lists div.wrapper {
    margin-bottom: 1em;
  }
/* anchor styling */
.keyword-lists ul li a{
    display: block;
    width: 7em;
    text-decoration: none;
  }
.keyword-lists ul li a:hover {
    color: #FFF; /* white */
    background-color: #A52A2A; /* brown */
  }


.transcript-info li{
  list-style-type: none;
}


