.keyword-marker {
    -webkit-border-image: none;
    border-image: none;
    border: 5px solid transparent;
    border-top-width: 0;
    border-bottom-width: 11px;
    -webkit-box-shadow: 0 1px 0 #000;
    box-shadow: 0 1px 0 #000;
    left: 8px;
    overflow: hidden;
    position: absolute;
    top: 19px;
}