
.transcript-container {
      display: flex;
      overflow: hidden;
      height: 30vh;
/*      margin-top: -100px;
      padding-top: 100px; */
      position: relative;
      width: 100%;
      backface-visibility: hidden;
      will-change: overflow;
      height: 500px;
  }
.transcript-info li{
  list-style-type: none;
}

.Speaker_1 {
  background-color: rgba(46, 204, 113, .3);
  padding: 0px; 
}

.Speaker_2 {
  background-color: rgba(52, 152, 219, .3);
  padding: 0px; 
}

.Speaker_3 {
  background-color: rgba(231, 76, 60, .3);
  padding: 0px; 
}

.Speaker_4 {
  background-color: rgba(230, 126, 34, .3);
  padding: 0px; 
}
