
.transcript-container {
      display: flex;
      overflow: hidden;
      height: 30vh;
/*      margin-top: -100px;
      padding-top: 100px; */
      position: relative;
      width: 100%;
      backface-visibility: hidden;
      will-change: overflow;
      height: 500px;
  }
.transcript-info li{
  list-style-type: none;
}
.Speaker_1 {
  background-color: rgb(223, 238, 222);
  border: 1px solid rgba(86,61,124,.2);
  padding: 0px; 
}
.Speaker_1 .transcript-info {
  background-color: rgb(204, 223, 204);
  border: 1px solid rgba(204, 223, 204);
}


.Speaker_2 {
  background-color: rgb(237, 222, 238);
  border: 1px solid rgba(86,61,124,.2);
  padding: 0px; 
}
.Speaker_2 .transcript-info {
  background-color: rgb(223, 204, 223);
  border: 1px solid rgba(204, 223, 204);
}

.Speaker_3 {
  background-color: rgb(222, 223, 238);
  border: 1px solid rgba(86,61,124,.2);
  padding: 0px; 
}
.Speaker_3 .transcript-info {
  background-color: rgb(204, 214, 223);
  border: 1px solid rgba(204, 223, 204);
}

.Speaker_4 {
  background-color: rgb(238, 229, 222);
  border: 1px solid rgba(86,61,124,.2);
  padding: 0px; 
}
.Speaker_4 .transcript-info {
  background-color: rgb(223, 214, 204);
  border: 1px solid rgba(204, 223, 204);
}
